.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #efefef;
  align-items: center;
}

.logo {
  font-size: 22px;
  text-decoration: none;
  color: #165596;
  font-weight: 900;
}

.buttons {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.updateStatus {
  margin-left: 20px;
  width: 400px;
  font-size: 18px;
  color: #165596;
  display: flex;
  align-items: center;
  height: 40px;
}

.statusText {
  margin-left: 20px;
}

@media (max-width: 940px) {
  .navbar {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 20px;
  }
  button {
    margin-bottom: 10px;
  }
  .updateStatus {
    justify-content: center;
  }
}